.weather-day {
  display: inline-block;
  text-align: left;
}
.weather-day .weekday {
  font-size: 3rem;
}
.weather-day .current-temp {
  font-size: 4.5rem;
}
.weather-day .conditions {
  position: relative;
  font-size: 1.5rem;
}
.weather-day .time-position {
  position: absolute;
  left: -.5rem;
  top: 0;
  width: 0;
  height: 0;
  /* arrow is 12px tall, so to center to tip, adjust up half the height*/
  margin-top: -6px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid white;
}
.weather-day .temps {
  font-size: 2.5rem;
}
  .weather-day .temps .high {
    display: inline;
  }
  .weather-day .temps .divider {
    display: inline;
  }
  .weather-day .temps .low {
    display: inline;
  }
