<ion-content padding class="no-scroll">
  <div class="datetime" *ngIf="display == 'date'">
    <div class="date">{{date}}</div>
    <div class="time">{{time}}</div>
  </div>
  <div class="weather" *ngIf="display == 'weather'">
    <div class="day" *ngFor="let day of forecastArray; let index = index" [ngClass]="{'current': index === 0 }">
      <div class="weekday">
        {{ forecastObject[day].day }}
      </div>
      <div class="conditions">
        {{ forecastObject[day].conditions.join(', ') }}
      </div>
      <div *ngIf="index === 0" class="current-conditions">
        {{ conditions?.main.temp }}°F
      </div>
      <div class="temps">
        <div class="low">
          {{ forecastObject[day].low }}°F
        </div>
        <div class="divider">
          -
        </div>
        <div class="high">
          {{ forecastObject[day].high }}°F
        </div>
      </div>
    </div>
  </div>
</ion-content>
