page-home {
  .content-md {
    background-color: black;
    color: white;
    text-align: center;
    cursor: none;
  }

  .date {
    font-size: 3rem;
  }

  .time {
    font-size: 6rem;
  }

  .weather {
    width:100%;
    .day {
      width: 30%;
      float: left;
      &.current {
        width: 40%;
      }
      .weekday {
        font-size: 3rem;
      }
      .current-conditions {
        font-size: 4.5rem;
      }
      .conditions {
        font-size: 4.5rem;
      }
      .temps {
        font-size: 2.5rem;
        .high {
          display: inline;
        }
        .divider {
          display: inline;
        }
        .low {
          display: inline;
        }
      }
    }
  }


}
